*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './header.css';
@import './utils.scss';
@import './mobile';
@import './programma.css';
@import './need.css';
@import './review.scss';
@import './path.css';
@import './study.css';
@import './course.css';
@import './motivation.css';
@import './tech.css';
@import './end.css';
@import './footer.css';
